<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-danger text-decoration-none">
            <p class="fs-2 "><h2><em>Composer.by</em></h2></p>
          </a>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Биография</a>
              <a class="me-3 py-2 text-dark text-decoration-none" href="/tvorenie">Творчество</a>
              <a class="me-3 py-2 text-dark text-decoration-none" href="/Life">Личная жизнь</a>
              <a class="me-3 py-2 text-dark text-decoration-none" href="/music">Память</a>
          </nav>
        </div>
{% block body %}{% endblock %}
    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class= "mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
            <small class="d-block mb-3 text-muted">XVIII век</small>
          </div>
          <div class="col-6 col-md">
            <h5>Композиторы</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Алессандро Скарлатти </a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Джованни Баттиста Перголези </a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Доменико Скарлатти</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Йозеф Гайдн </a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Георг Фридрих Гендель</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Антонио Вивальди</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Известные произведения</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Симфония соль минор</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Свадьба Фигаро</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Симфония ми-бемоль мажор</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">«Ипполит и Арисия»</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Писатели</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Иоганн Вольфганг фон Гёте</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Николай Карамзин</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Вальтер Скотт</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Вольтер</a></li>
            </ul>
          </div>
        </div>
      </footer>

</body>
</html>