{% extends 'base.html'%}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="title clear">
    <div class="left-title" style="width: 400.5px;"> <div class="left-center"></div> </div>
    <div class="right-title" style="width: 400.5px;"> <div class="right-center"></div> </div>
        <p class="text-danger"><em> Вольфганг Амадей Моцарт </em></p>
  </h1>
    </div>
  <p align="center"><img src="/static/images/mozart_portret (1).jpg" width="400" height="500"></p>

  <p><em>По моему глубокому убеждению, Моцарт есть высшая, кульминационная точка, до которой красота досягала в сфере музыки.</em>П. Чайковский</p>
  <p>«Какая глубина! Какая смелость и какая стройность!» Так гениально выразил Пушкин сущность гениального искусства Моцарта. Действительно, подобного сочетания классического совершенства с дерзновенностью мысли, такой бесконечности индивидуальных решений на основе четких и ясных закономерностей композиции мы не найдем, наверное, ни у одного из творцов музыкального искусства. Солнечно ясным и непостижимо загадочным, простым и безмерно сложным, глубоко человечным и вселенским, космическим предстает мир моцартовской музыки.</p>
  <div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Содержание</h1>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">1756—1763</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Ранние годы</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Детство</li>
              <li>Родители</li>
              <li>Первое произведение</li>
              <li>Первые путешествия</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">1781—1791</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Венский период</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Первые шаги в Вене</li>
              <li>Свадьба и брак</li>
              <li>Пик творчетсва</li>
              <li>Признание</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Подробнее</button>
          </div>
        </div>
      </div>
       <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">1791</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Последний год</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Произведения</li>
              <li>Финансовые трудности</li>
              <li>Увековечение памяти</li>
              <li>Болезнь и смерть</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
{% endblock %}