{% extends 'base.html'%}

{% block title %}
Личная жизнь
{% endblock %}

{% block body %}
<div class="container">
    <h1>Личная жизнь</h1>
</div>

<p align="left"><img src="/static/images/Constanze_Mozart.JPG" width="250" height="300"></p>
<h3>Свадьба и брак</h3>
Ещё живя у Веберов, Моцарт стал оказывать знаки внимания средней дочери — Констанции.
Очевидно, это и дало почву для слухов, которые Моцарт отвергал.
Тем не менее 15 декабря 1781 года он написал отцу письмо, в котором он признавался о своей любви к Констанции Вебер и сообщал, что собирается жениться на ней.
Однако Леопольд знал больше, чем было написано в письме, а именно то, что Вольфганг должен был дать письменное обязательство жениться на Констанции в течение трёх лет, иначе выплачивать ежегодно по 300 флоринов в её пользу.
<br>
Главную роль в истории с письменным обязательством сыграл опекун Констанции и её сестёр — Иоганн Торварт, придворный чиновник, пользовавшийся авторитетом у графа Розенберга.
Торварт попросил мать запретить Моцарту общаться с Констанцией до того, как «это дело не будет закончено письменно».
<br>Из-за сильно развитого чувства чести, Моцарт не смог оставить возлюбленную и подписал заявление.
Однако позже, когда опекун ушёл, Констанция потребовала у матери обязательство, и сказав: «Дорогой Моцарт! Мне не нужно от Вас никаких письменных обязательств, я и так верю Вашим словам», разорвала заявление.
Этот поступок Констанции сделал её ещё дороже Моцарту.
Несмотря на такое мнимое благородство Констанции, исследователи не сомневаются, что все эти брачные прения, в том числе и разрыв контракта — не что иное, как хорошо разыгранный Веберами спектакль, целью которого было как бы организовать сближение Моцарта с Констанцией.<br>
<br>
Несмотря на многочисленные письма сына, Леопольд был непреклонен. К тому же он не без оснований полагал, что фрау Вебер ведёт с его сыном «некрасивую игру» — она хочет использовать Вольфганга как кошелёк, ведь как раз в то время перед ним открывались огромные перспективы: он писал «Похищение из Сераля», проводил множество концертов по подписке и то и дело получал заказы на различные сочинения от венской знати. В сильном смятении Вольфганг взывал к помощи сестры, доверяя её старой доброй дружбе. По просьбе Вольфганга Констанция писала его сестре письма и посылала различные подарки. Несмотря на то, что Мария Анна дружественно приняла эти подарки, отец упорствовал. Без надежд на обеспеченное будущее свадьба казалась ему невозможной[57].
<br>
Между тем сплетни становились всё более нестерпимыми: 27 июля 1782 года Моцарт в полном отчаянии писал отцу, что большинство людей принимают его уже за женатого и что фрау Вебер крайне возмущена этим и до смерти замучила его и Констанцию. На помощь Моцарту и его возлюбленной пришла покровительница Моцарта, баронесса фон Вальдштедтен. Она предложила Констанции переселиться в свою квартиру в Леопольдштадте (дом № 360), на что Констанция охотно согласилась. Из-за этого фрау Вебер теперь была разгневана и намеревалась в конце концов силой вернуть дочь обратно в свой дом. Чтобы сохранить честь Констанции, Моцарт должен был скорее жениться на ней. В том же письме он самым настойчивым образом молил отца о разрешении на женитьбу, несколько дней спустя повторив свою просьбу. Однако желанного согласия опять не последовало. В это время Моцарт дал себе обет написать мессу, если он удачно женится на Констанции[58][59].
<br>
Наконец, 4 августа 1782 года в венском кафедральном соборе Святого Стефана состоялось обручение, на котором присутствовали только фрау Вебер с младшей дочерью Софи и несколько свидетелей. Свадебный пир устроила баронесса Вальдштедтен, и на нём сыграли серенаду для тринадцати инструментов (K.361/370a). Символично, что только днём позже пришло долгожданное согласие отца. 7 августа Моцарт писал ему: «Когда мы были обвенчаны, я и моя жена начали плакать; этим были тронуты все, даже священник, и все заплакали, так как они были свидетелями растроганности наших сердец»[60].

<br>
Несмотря на счастливую для супругов женитьбу, на брак всегда падала мрачная тень отца: он хотя и смирился с женитьбой сына, но в душе относился к Констанции враждебно.
С этих пор письма Моцарта отцу становятся всё более редкими и, главное, более деловыми.
<br>
17 июня 1783 года у Моцартов родился первенец, который был назван Раймунд Леопольд в честь своего крёстного, барона Раймунда Ветцлара фон Планкинштерна, богатого еврея и хозяина предыдущей квартиры, в которой жил Моцарт.
Среднее имя было дано ребёнку в честь своего деда, Леопольда Моцарта.
<br>
В конце июля супруги отправляются в гости к отцу в Зальцбург, оставив новорождённого ребёнка платной кормилице, и прибыли в Зальцбург уже 29 июля.
Вопреки ожиданиям Моцарта, отец и сестра встретили Констанцию прохладно, хотя и достаточно вежливо.
В Зальцбурге Моцарт работал над мессой До минор, которую он писал во исполнение обета, данного им, если ему удастся жениться на Констанции[65]. Хотя месса так и не была окончена, премьера первых нескольких её частей состоялась 26 октября в церкви Святого Петра, причём Констанция пела партию сопрано. Кроме того, в Зальцбурге Моцарт встретился со своим либреттистом по «Идоменею» Вареско, который по просьбе композитора набросал либретто «L’oca del Cairo» («Каирский гусь»), которое Моцарт положит на музыку так и не дописанной одноимённой оперы[66]. Супруги покинули Зальцбург 27 октября 1783 года. Несмотря на все усилия, главная цель поездки — изменить настроение отца в пользу Констанции — не была достигнута. По пути в Вену, 30 октября они заехали в Линц, где остановились у старого друга Моцарта, графа Йозефа Туна, пробыв тут три недели. Здесь Моцарт написал свою симфонию № 36 До мажор (K.425), премьера которой состоялась 4 ноября на концерте в доме графа[67].

{% endblock %}