{% extends 'base.html'%}

{% block title %}
Известные произведения композитора
{% endblock %}

{% block body %}
<div class="container">
    <h1>Увековечение памяти</h1>
<p>
    <img src="/static/images/Mozart_monument_Vienna.jpg" alt="Фотография 1" width="300" height="370">
	<img src="/static/images/318px-Salzburg_Mozartdenkmal_Mozartplatz.jpg" alt="Фотография 2" width="300" height="370"><br>_________Памятник Моцарту в Вене_______|________Памятник в Зальцбурге_________<br><br>
    <img src="/static/images/Stamp_of_Moldova_075.jpg" alt="Фотография 3" width="300" height="200">Почтовая марка Молдовы, 2006 год<br><br>
    <img src="/static/images/171px-Stamp_of_USSR_1944.jpg" alt="Фотография 4" width="200" height="300">Почтовая марка СССР, 1956 год<br><br><br>
	<img src="/static/images/2_шиллинга_1931_Австрия_Моцарт.JPG" alt="Фотография 4" width="300" height="200">2 шиллинга 1931 года — австрийская памятная монета, посвящённая 175-летию со дня рождения Моцарта<br>
  </p>

</div>

{% endblock %}