{% extends 'base.html'%}

{% block title %}
Все творчество композитора
{% endblock %}

{% block body %}
<div class="container">
    <h1> Основное творчество композитора</h1>

    <table class="table">
  <tbody>
    <tr>
      <td>Реквием</td>
      <td>Волшебная флейта</td>
      <td>Маленькая ночная серенада</td>
      <td>Симфония № 40</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td>Соната для фортепиано № 11</td>
      <td>Свадьба Фигаро</td>
      <td>Дон Жуан</td>
      <td>Концерт для кларнета с оркестром</td>
    </tr>
    <tr>
      <td>Симфония № 41</td>
      <td>Соната для клавира № 16</td>
      <td>Ave verum corpus</td>
      <td>Turkish March</td>
    </tr>
    <tr>
      <td>Ария Царицы ночи</td>
      <td>Симфония № 25</td>
      <td>Похищение из сераля</td>
      <td>Идоменей</td>
    </tr>
    <tr>
      <td>Симфония № 1</td>
      <td>Fantasia No. 3</td>
      <td>Симфония № 39</td>
      <td>Квинтет для кларнета и струнных</td>
    </tr>
  </tbody>
</table>
    <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3_%D0%9A%D1%91%D1%85%D0%B5%D0%BB%D1%8F">Полный список произведений</a>
{% endblock %}